* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

    
}
a:visited{
    color: black !important;
    text-decoration: none;
}
a:hover{
    text-decoration: none !important;
    
}

.bap {
    background-color: rgba(0, 47, 52, .03);
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.bap *{
    padding-right: 20px;
    text-align:center ;
}
.main{
    display: flexbox;
}


.top {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;

}
.logo{
    margin-left: 10%;
    padding-top: 2px;
}

.top>input {
    padding: 0 0 0 16px;
    height: 50px;
    margin-top: 8px;
}
.login{
    width: 180px;
   margin-top: 8px;
   display: flex;
   justify-content: space-around;
}
.sell{
    
    border-radius: 100px;
    width: 150px  !important;
    padding: 5px 0;
    height: 60px;
    color:  #002f34;
    font-size: 20px; 
    font-weight: bold;
    border: 5px outset;
    border-top-color: rgb(0, 204, 255);
    border-right-color: rgb(0, 4, 255);
    border-bottom-color: rgb(0, 4, 255);
    border-left-color: rgb(255, 239, 16);
}
.log{
     background-color:transparent;  
    border: none;
    height: 50px;
    padding: 2px 10px;
    font-size: 20px; 
    font-weight: bold;
   
    color:  #002f34;
}
.log:focus{
    outline: none;
    border-bottom: 3px solid black;
}
.log:hover{
    border-bottom: 3px solid black;
}


.search {
    position: relative;
    width: 50%;
    padding-right: 40px;
}
.sear{
    width: 25%;
}

.search>button {
    min-width: 48px;
    height: 48px;
    margin-top: 8px;
    background-color: #002f34;

    
}
.search>button>i{
    color: white;
    font-size: 22px;
    margin-left: 50%;
    width: 100%;
    
   
}
.sear>select{
    width: 100%;
    height: 50px;
    margin-top: 8px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.281);
}
.sear>select:focus{
    outline: mediumturquoise;
    border: 2px solid mediumturquoise;
}
.sear>select>option{
   font-size: 25px;

}

.search>input {
    width: 100%;
    height: 50px;
    margin-top: 8px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.281);
}
input:focus{
    outline: mediumturquoise;
    border: 2px solid mediumturquoise;
}

.search-img {
    position: absolute;
    right: 0px;
    width: 48px;
    
}
nav{
    width: 80%;
    margin: 0 auto;
}

nav>ul {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    justify-content: space-around;
    width: 100%;
    cursor: pointer;
    padding: 4px 0;
    color: #002f34;
    font-size: 12px;

}

nav>ul>li:hover {
    color: rgb(38, 126, 241);
    
}

.slider-main {
    width: 100%;
    position: relative;
    height: 252px;
    margin: 0 0 40px;
    display: flex;
    align-items: center;
    background: rgb(201,234,241);
    background: linear-gradient(90deg, rgb(230, 246, 250) 50%, rgb(8, 46, 47) 50%);
    z-index: -1;
}

.slider {
    
    height: 252px;
    background-image: url("sliderrr.jpg");
    background-repeat: no-repeat;
    background-position: 60%;
    width: 99%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: -2;
    
}
.slider>img{
    width: 100%;
    height: 252px;
    
  
}

.lastsearch {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(223, 223, 223, 0.212);
    padding: 0px;
    position: relative;
    border-radius: 6px;
}

.lastsearch>h1 {
    width: 100%;
    padding: 20px 0;
}

.card {
    padding-top: 50px;
    position: relative;
    width: 260px;
    min-height: 300px;
    background-color: rgb(251, 251, 248);
    padding: 2px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.192);
    margin-bottom: 20px;
    border-radius: 6px;
    border: 1px solid grey;
    padding-bottom: 6px;


}
.feature{
    position: absolute;
    top: 20px;
    left: 10px;
    padding: 5px;
    background-color: rgb(236, 221, 8);
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}

.img-div {
    width: 70%; 
    margin-left:  15%;
    padding: 20px 0;
    min-height: 180px;
    display: flex;
    align-items: center;
    
    
}

.img-div>img {
    width: 100%;
   
}
h3{
padding-bottom:5px ;
font-size: 20px;
color: black;
}

.text {
    border-left: 10px solid rgb(255, 230, 0);
    line-height: 20px;
    padding: 10px 0;
    font-size: 12px;
    color: rgb(110, 110, 110);
}

.fresh {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
}
.fresh>h1{
    width: 100%;
    padding: 20px;
}
.more{
    position: absolute;
    right: 20px;
    top: 20px;
}
.new-head{
   
    margin-top: 20px !important;
}
.more>a{
    color: black;
}
.card:hover{
    background-color: rgba(255, 255, 255, 0.945);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.198);
    border: 1px solid grey;
}


.days-ago{
 font-size: 10px;
 color: grey;
 position: absolute;
 bottom: 2px;
 right: 10px;
}
/* advertising css */

.promo-mobapp{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #002f3418;
    flex-wrap: wrap;
}
.store-images{
    display: flex;
    
}
.store{
    margin-left: 20px;
    padding-top: 30px;
}
.footer-div{display: flex;
flex-wrap: wrap;}

.footer-ul li a {
text-decoration: none;
color: white;
}

.footer-ul h3 {
padding: 0;
margin: 0;
color: white;
font-size: 30px;
margin-bottom: 20px;
margin-top: 20px;

}

.footer-ul li {
color: white;
list-style: none;
line-height: 1.5rem;
}
.footer-ul li a:hover{
color: rgb(1, 164, 240);
}
.footer {
width: 100%;
background-color: rgba(17, 34, 21, 0.287);

}

.footer-div {
width: 80%;
margin: 0 auto;
display: flex;
justify-content: space-between;
}
.bot{
height: 30px;
background-color: rgba(3, 19, 3, 0.815);
display: flex;
justify-content: space-around;
padding-top: 10px;
color: white;
padding: 10px;
}
@media only screen and (max-width:1200px){
     .card{
        width: 240px;
        margin: 0 auto;
        margin-bottom: 30px;
        margin-left: 10px;
    } 
    .main{
        background-color: rgba(132, 179, 93, 0.15);
    }

}

@media only screen and (max-width:992px){
    .card{
        width: 260px;
        margin: 0 auto;
        margin-bottom: 15px;
        margin-bottom: 30px;
    }
    
    .main{
        background-color: rgba(93, 152, 179, 0.15);
    }
    .slider>img{display: none;}
    .slider{
        background-image: url("small.png");
        background-size: cover;

          
    }
    .login{
        display: flex;
        flex-wrap: nowrap;
        width: 30%;
    }
}
@media only screen and (max-width:768px){
    .card{
        width:260px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .main{
        background-color: rgba(179, 170, 93, 0.15);
    }
    .login{
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
    }
    .slider>img{
       position: 60%;
    }
    /* .slider{
        background-image: url("small.png");
        width: 99%;
        margin: 0 auto;
        background-size: cover;
        z-index: -1;
        
    } */
    .sear{display: none;}
    nav{width: 100%;}
    nav>ul{
        width: 100%;
    }

}



@media only screen and (max-width:600px){
    .card{
        min-width: 150px;
        margin: 0 auto;
        margin-bottom: 30px;
        width: 80%;
    }
    .bap{
        min-width: 360px;
    }

   .logo{
       width: 100px;
       margin-left:20px;
   }
   /* .sell{
       width: 200px;
   } */
   .login{
       display: flex;
       flex-wrap: nowrap;
       width: 100%;
       justify-content: space-around;
       margin: 0;
   }

  
    .main{
        min-width: 300px;
        background-color: rgba(170, 118, 93, 0.15);
        margin: 0 auto;
    }
    .sear,.search{display: none;}
  
    nav>ul{
     display: none;
        
    }
   

}